body {
  background-color: black;
}

h1 {
  color: hsl(180, 100%, 50%, 60%);
  text-align: center;
}

p {
  color: hsla(180, 100%, 50%, 60%);
  text-align: center;
}

/* HSL → Hue - Saturation - Lightness */
